@import "tailwindcss";

.recharts-wrapper:focus,
.recharts-pie-sector:focus,
.recharts-surface:focus {
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e9d5ff inset !important; /* your purple-200 */
  box-shadow: 0 0 0px 1000px #e9d5ff inset !important;
  -webkit-text-fill-color: black !important;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideFade {
  animation: slideFade 0.6s ease-in-out;
}

